<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listener.commond"></listener>
<listener class-name="listener.ExtentReporterNG">
</listener>
</listeners>
 <parameter name="username" value="fahmi"></parameter>
  <parameter name="url" value="www.google.com"></parameter>
  <test thread-count="5" name="Mobile Test">
 
    <classes>
      <class name="google.com.UI_Test"/>
      </classes>
   </test>
   
  
   
   <test thread-count="5" name="Web Test">
   <groups>
   <run>
  	 <exclude name="datadriven"/>
  	 </run>
  	 </groups>
   <classes>
   
      <class name="google.com.login_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
